{% load static tz customtags custom_filters %}
{% now "Y" as current_year %}
{% include "tifinar/adm_header.html" %}


<div class="content-grid content">
    <h1 class="window-h1">{{title}}
        <i class="fas fa-video"></i>
    </h1>

    <div class="filter mt-4 p-4 border rounded shadow-sm bg-light">
        <form method="GET" action="{{ request.path }}" class="d-flex align-items-center mb-3">
            <div style='flex-wrap:nowrap' class="input-group border rounded flex-grow-1">
                <input type="text" class="form-control search-input border-0" name="search" placeholder="ابحث عن مقال" value="{{ request.GET.search }}">
                <button type="submit" class="btn btn-outline-primary search-btn">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>

        <form method="GET" action="{{ request.path }}" class="d-flex flex-column flex-md-row align-items-md-center">
            <div class="input-group border rounded flex-grow-1 d-flex">

                <select class="form-control form-select" name="the_type">
                    <option value="" disabled {% if not request.GET.the_type %}selected{% endif %}>اختر نوع المنشور</option>
                    <option value="أديان" {% if request.GET.the_type == "أديان" %}selected{% endif %}>التربية الإسلامية</option>

                        <option value='فلسفة' {% if request.GET.the_type == 'فلسفة' %}selected{% endif %}>فلسفة</option>

                    <optgroup label="اللغات">
                        <option value="الأمازيغية" {% if request.GET.the_type == 'الأمازيغية' %}selected{% endif %}>تعلم الأمازيغية</option>
                        <option value="العربية" {% if request.GET.the_type == 'العربية' %}selected{% endif %}>تعلم العربية</option>
                        <option value="الفرنسية" {% if request.GET.the_type == 'الفرنسية' %}selected{% endif %}>تعلم الفرنسية</option>
                        <option value="الإنجليزية" {% if request.GET.the_type == 'الإنجليزية' %}selected{% endif %}>تعلم الإنجليزية</option>
                    </optgroup>

                    <optgroup label="العلوم">
                        <option value="رياضيات" {% if request.GET.the_type == 'رياضيات' %}selected{% endif %}> رياضيات</option>
                        
                        
                        <option value="الفزياء" {% if request.GET.the_type == 'الفزياء' %}selected{% endif %}>فزياء</option>
                        
                        @if ($userAge >=10 or $birthDate == null)
                            <option value="الكيمياء" {% if request.GET.the_type == 'الكيمياء' %}selected{% endif %}>كيمياء</option>
                        @endif
                        
                        <option value="علوم الحياة والأرض" {% if request.GET.the_type == 'علوم الحياة والأرض' %}selected{% endif %}>علوم الحياة والأرض</option>
                    </optgroup>

                    <optgroup label="مواضيع أخرى">
                        <option value="صحة وحياة" {% if request.GET.the_type == 'صحة وحياة' %}selected{% endif %}>صحة وحياة</option>
                        <option value="علوم الكمبيوتر" {% if request.GET.the_type == 'علوم الكمبيوتر' %}selected{% endif %}>علوم الحاسوب</option>

                        @if ($userAge >=12)
                            <option value="حقوق الإنسان" {% if request.GET.the_type == 'حقوق الإنسان' %}selected{% endif %}>القانون وحقوق الإنسان</option>
                        @endif

                        <option value="الثقافة العامة" {% if request.GET.the_type == 'الثقافة العامة' %}selected{% endif %}>الثقافة العامة</option>
                        <option value="أصناف أخرى" {% if request.GET.the_type == 'أصناف أخرى' %}selected{% endif %}>أصناف أخرى</option>
                    </optgroup>
                </select>
                <button type="submit" class="btn btn-outline-success search-btn flex-shrink-0" style="width: 50px;">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>
    </div>

        {% if articles %}
        {% for article in articles %}
            <div class="video" dir="{{ article.dir  }}">
                <a href="/videos/edit/{{ article.slug  }}">
                    <figure>
                        {% if article.images %}
                            <img src="{% static 'tifinar/images/' %}{{ table_name }}/{{ article.images.0 }}" 
                                 alt="{{ article.title }}" class="article-image"
                            >
                            <i class="fas fa-play"></i>
                            <figcaption class="video-title">{{ article.title }}</figcaption>
                        {% endif %}
                    </figure>
                </a>
                <div class="listes-contenu-VD">
                        <a title="مشاهدة الفيديو" href="/{{ article.slug }}" class="btn btn-primary">
                            <i class="fas fa-play-circle"></i>
                        </a>

                        <form action="" method="POST" style="display:inline;">
                            <button class="btn btn-danger" title="حدف الفيديو">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>

                        <a title="تعديل الفيديو" href="/videos/edit/{{ article.slug }}" class="btn btn-secondary">
                            <i class="fas fa-edit"></i>
                        </a>

                        <hr>
                    </div>
            </div>
        {% endfor %}
    {% else %}
        <p style="text-align:center; color: gray;">لا توجد فيديوهات متاحة</p>
    {% endif %}

    
    {% include "tifinar/pagination.html" %} 
      
    </div>
  
    {% include "tifinar/adm_footer.html" %} 
