
{% load static tz customtags custom_filters  %}
{% include "tifinar/adm_header.html" %}
{% now "Y" as current_year %}

    <div class="form content">

        <h1><i class="fas fa-edit"></i> إنشاء اختبار جديد:</h1>

        <form class="form" method="POST" action="" enctype="multipart/form-data">

            {% csrf_token %}
            
            <div class="mb-3 form">
                <label class="label">
                    <i class="fas fa-upload"></i> {{ form.myimage.label }}
                </label>
                {{ form.myimage }}
                <div id="preview-container" style="margin-top: 10px;">
                    <img id="preview-image" src="#" alt="معاينة الصورة" style="max-width: 100%; max-height: 200px; display: none;"/>
                </div>
            </div>

            <hr>

            <div class="form">
                <label class="label">
                    <i class="fas fa-user"></i> {{ form.author.label }}
                </label>
                {{ form.author }}
                {{ form.author.errors }}
            </div>  
                
            <hr>

            <div class="form">
                <label class="label">
                    <i class="fas fa-heading"></i> {{ form.title.label }}
                </label>
                {{ form.title }}
                {{ form.title.errors }}
            </div>
    
            <hr>

            <div class="form">
                <i class="fas fa-language"></i>{{ form.dir.label_tag }}
                {{ form.dir }}
                {% if form.dir.errors %}
                    <div class="invalid-feedback">
                        {{ form.dir.errors|join:", " }}
                    </div>
                {% endif %}
            </div>
            
            <hr>
    
            <div class="form">
                <label class="label">
                    <i class="fas fa-list"></i>{{ form.the_type.label }}
                </label>
                {{ form.the_type }}
                {{ form.the_type.errors }}
            </div>

            <hr>

            <div class="mb-3 form">
                <label for="{{ form.educational_level.id_for_label }}" class="form-label">
                    <i class="fas fa-graduation-cap"></i> هل يجب أن يكون للقراء مستوى دراسي محدد؟
                </label>
                {{ form.educational_level }}
            </div>

            <hr>
            
            <div class="form-row form">
                <label class="label">
                    <i class="fas fa-hourglass-start"></i>  يجب أن يكون عمر الزائر:
                </label>

                <div class="form">

                    <label class="label">
                        <i class="fas fa-user"></i> {{ form.min_age.label }}
                    </label>

                    {{ form.min_age }}
                    {{ form.min_age.errors }}
            
                    <hr>

                    <label class="label">
                        <i class="fas fa-user"></i> {{ form.max_age.label }}
                    </label>

                    {{ form.max_age }}
                    {{ form.max_age.errors }}

                </div>
            </div>

            <hr>
            
            <div class="form">
                <label class="label">
                    <i class="fas fa-info-circle"></i> {{ form.mydescription.label }}
                </label>
                {{ form.mydescription }}
                {{ form.mydescription.errors }}
            </div>
            
            <hr>

            <div class="form">
                <label class="label">
                    <i class="fas fa-key"></i> {{ form.keywords.label }}
                </label>
                {{ form.keywords }}
                {{ form.keywords.errors }}
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-plus"></i> حفظ المعلومات وإضافة الأسئلة
                </button>
            </div>
        </form>
    </article>
    

    <script>
    
        document.getElementById('formFile').addEventListener('change', function(event) {
            const previewImage = document.getElementById('preview-image');
            const file = event.target.files[0];
        
            if (file) {
                const reader = new FileReader();
                
                reader.onload = function(e) {
                    previewImage.src = e.target.result;
                    previewImage.style.display = 'block'; // إظهار الصورة
                };
        
                reader.readAsDataURL(file);
            } else {
                previewImage.src = "#";
                previewImage.style.display = 'none'; // إخفاء الصورة
            }
        });
        </script>
    
</div>

{% include "tifinar/adm_footer.html" %}