{% include "tifinar/header.html" %}
{% load static %}


<section>
    <article>
        <h1>{{ title|safe }}</h1>

        {# عرض الصورة إذا لم يكن المحتوى فيديو #}
        {% if folder != 'videos' %}
            {% if  myimage %}
                <img src="{% static 'myimage '%}" 
                     alt="{{  title }}" class="article-image">
            {% endif %}
        {% endif %}

        <div class="Author">
            {{  author|safe }}
        </div>
        
        <div class="date">
            {{  updated_at }}
        </div>

                
        <div {% if  dir %} dir="{{  dir }}" {% endif %}>
                {{  subject | safe }}
                {% if autre %}
                    <img src="{% static 'tifinar/images/articles/' %}{{ autre }}" alt="{{  title }}" width="100%">
                {% endif %}

        </div>
                <script>
                    function convertSpacesToUnderscores(url) {
                        return url.replace(/\s+/g, '_');
                    }
        
                    let originalText = "{{  autre }}";
                    let urlText = convertSpacesToUnderscores(originalText);
        
                    document.addEventListener("DOMContentLoaded", function() {
                        document.getElementById("dynamic-link").href = "{% static 'ebookZone/' %}" + urlText;
                    });
                </script>
        
                <hr>
                    
        </div>

        
        </div>
        
        <hr>
        

    </article>
    {% include "tifinar/sidebar.html" %}
</section>
        
<script>
document.addEventListener("DOMContentLoaded", function () {
    const content = document.querySelector('article');
    const urlRegex = /(https?:\/\/[^\s]+)/g;
    const walker = document.createTreeWalker(content, NodeFilter.SHOW_TEXT, null, false);

    let node;
    while ((node = walker.nextNode())) {
        let text = node.nodeValue;
        if (urlRegex.test(text)) {
            let replacedText = text.replace(urlRegex, url => {
                try {
                    const urlObj = new URL(url);
                    const base = urlObj.origin.replace('www.', '');
                    const path = urlObj.pathname.slice(1, 4);
                    return `<a href="${url}" target="_blank">${base}/${path}...</a>`;
                } catch {
                    return url;
                }
            });

            const span = document.createElement('span');
            span.innerHTML = replacedText;
            node.parentNode.replaceChild(span, node);
        }
    }
});
</script>

{% include "tifinar/footer.html" %}