{% load static %}

<div class="aside">
    <div class="aside-ads">
        <a target="_blank" href="https://hostinger.ae?REFERRALCODE=1HAMID718">
            <img src="{% static 'tifinar/assets/pub1.webp' %}">
        </a>
    </div>

    {% if next_obj %}
        <div class="aside-bar">
            <a class="dynamic-link" href="/{{ next_obj.slug }}">
                <div class="aside-content">
                    <figure class="flex-100">
                        <img src="{% static 'tifinar/images/' %}{{ folder}}/{{ next_obj.myimage }}" 
                             alt="{{ next_obj.title }}">
                    </figure>
                </div>
                <div class="aside-title">
                    {{ next_obj.title }}
                </div>
            </a>
        </div>
    {% endif %}

    {% for article in related_articles %}
        <div class="aside-bar">
            <a class="Top-menu-btn dynamic-link" href="/{{ article.slug }}">
                <div class="aside-content">
                    <figure class="flex-100">
                        <img src="{% static 'tifinar/images/' %}{{ folder}}/{{ article.myimage }}" 
                             alt="{{ article.title }}">
                    </figure>
                </div>
                <div class="aside-title">
                    {{ article.title }}
                </div>
            </a>
        </div>
    {% endfor %}
</div>